<script src="js/jquery-1.8.3.min.js"></script>

<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-col-xs12">
            <div class="layui-card">
                <div class="layui-card-header">
                    <span>预录入查询</span>
                </div>

                <div class="layui-card-body">
                    <div class="layui-card-body">
                        <div class="layui-form-item">
                            <label class="layui-form-label" style="width: 75px">开始日期</label>
                            <div class="layui-input-inline">
                                <span><input type="text" name="begindate" id="begindateid" readonly value="2019-01-01"
                                             lay-verify="required" autocomplete="off" class="layui-input"></span>
                            </div>

                            <label class="layui-form-label" style="width: 75px">结束日期</label>
                            <div class="layui-input-inline">
                                <span><input type="text" name="enddate" id="enddateid" readonly autocomplete="off"
                                             lay-verify="required" class="layui-input"></span>
                            </div>

                            <label class="layui-form-label">单据编号</label>
                            <div class="layui-input-inline">
                                <input type="text" name="str" id="strid" autocomplete="off" class="layui-input">
                            </div>

                            <label class="layui-form-label">审核状态</label>
                            <form class="layui-form">
                                <div class="layui-input-inline" style="width: 100px">
                                    <select name="statu" id="statsid" lay-verify="required">
                                        <option value=""></option>
                                        <option value="0">未审核</option>
                                        <option value="1">已审核</option>
                                        <option value="2">已确认</option>
                                        <option value="8">驳回</option>
                                    </select>
                                </div>
                            </form>

<br>
<br>
                            <label class="layui-form-label">商品名</label>
                            <div class="layui-input-inline">
                                <input type="text" name="prodname" id="prodnameid" autocomplete="off"
                                       class="layui-input">
                            </div>
                            <label class="layui-form-label">商品编码</label>
                            <div class="layui-input-inline">
                                <input type="text" name="prodno" id="prodnoid" autocomplete="off"
                                       class="layui-input">
                            </div>

                            <label class="layui-form-label">采购员</label>
                            <div class="layui-input-inline">
                                <input type="text" name="purchaser" id="purchaserid" autocomplete="off"
                                       class="layui-input">
                            </div>

                            <div class="layui-input-inline">
                                <button class="layui-btn" id="serchid">搜索</button>
                            </div>
                        </div>
                        <table id="demo_hash" lay-filter="test"></table>
                        <script type="text/html" id="barDemo_hash">
                            {{#  if(d.statu==2){  }}
                            {{# }else{ }}
                            <a class="layui-btn layui-btn-xs" lay-event="detail">编辑</a>
                            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                            {{# } }}
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    layui.config({
        version: '1522709297490' //为了更新 js 缓存，可忽略
    });
    layui.config({
        base: '/src/js/'
    }).use(['jquery','layer','form', 'table', 'laydate'], function () {
        var $ = layui.jquery,
            layer = layui.layer,
            table = layui.table,
            form = layui.form,
            laydate = layui.laydate;
            form.render();

        laydate.render({
            elem: '#begindateid'
        });
        laydate.render({
            elem: '#enddateid'
        });

        //第一个实例123
        table.render({
            method: 'post',
            // size: 'sm',
            limit: 10,
            elem: '#demo_hash',
            height: 'full-290',
            url: 'getYlr', //数据接口
            toolbar: '#toolbarDemo',
            text: {
                none: '暂无相关数据'
            },
            initSort: {
                field: 'billid' //排序字段，对应 cols 设定的各字段名
                , type: 'desc' //排序方式  asc: 升序、desc: 降序、null: 默认排序
            },
            page: true, //开启分页
            cols: [
                [ //表头
                    {
                        field: 'zizeng',
                        title: '序号',
                        /*width: 60,*/
                        fixe: 'left',
                        type: 'numbers'
                    },{
                        field: 'createtime',
                        title: '单据日期',
                        width: 120,
                        sort: true
                    }, {
                        field: 'statu',
                        title: '审核状态',
                        id: '#titleTpl',
                        sort: true,
                        width: 95,
                    templet: function (d) {
                        if (d.statu == 0) {
                            return '未审核';
                        }
                        if (d.statu == 1) {

                            return '已审核';
                        }
                        if (d.statu == 2) {
                            return '已确认';
                        }
                        if (d.statu == 8) {
                            return '驳回';
                        }
                    }
                    }, {
                        field: 'billid',
                        title: '单据编号',
                        width: 200,
                        sort: true
                    }, {
                        field: 'begindate',
                        title: '政策开始日期',
                        width: 200

                    }, {
                        field: 'enddate',
                        title: '政策结束日期',
                        width: 200
                    }, {
                        field: 'supno',
                        title: '供应商编码',
                        width: 220
                    }, {
                        field: 'supname',
                        title: '供应商名称',
                        width: 220,
                        sort: true
                    }, {
                        field: 'prodno',
                        title: '商品编码',
                        width: 220
                    }, {
                        field: 'prodname',
                        title: '商品名称',
                        width: 220,
                        sort: true
                    }, {
                        field: 'prodspecification',
                        title: '规格',
                        width: 220
                    }, {
                        field: 'packageunit',
                        title: '包装单位',
                        width: 220
                    }, {
                        field: 'purchaser',
                        title: '采购员',
                        width: 220,
                        sort: true
                    }, {
                        field: 'custno',
                        title: '客户编码',
                        width: 220
                    }, {
                        field: 'custname',
                        title: '客户名称',
                        width: 220,
                        sort: true
                    }, {
                        field: 'ownerareatext',
                        title: '所属大区',
                        width: 220
                    }, {
                        field: 'custtypename',
                        title: '客户类型',
                        width: 220,
                        sort: true
                    }, {
                        field: 'price',
                        title: '销售价',
                        width: 220
                    }, {
                        field: 'getprice',
                        title: '购进价',
                        width: 220
                    }, {
                        field: 'flmark',
                        title: '返利政策',
                        width: 220
                    }, {
                        field: 'fltype',
                        title: '政策类型',
                        width: 220
                    }, {
                        field: 'flprice',
                        title: '返利单价',
                        width: 220
                    }, {
                        field: 'dftime',
                        title: '兑付时间',
                        width: 220
                    }, {
                        field: 'dftype',
                        title: '兑付方式',
                        width: 220
                    }, {
                        field: 'contactsman',
                        title: '供应商联系人',
                        width: 220
                    }, {
                        field: 'contactsphone',
                        title: '供应商联系人电话',
                        width: 220
                    }, {
                        field: 'note',
                        title: '备注',
                        width: 220
                    }, {
                        field: 'staff',
                        title: '制单人',
                        width: 220
                    }, {
                        width: 120,
                        fixed: 'right',
                        title: '操作',
                        align: 'center',
                        toolbar: '#barDemo_hash'
                    }
                ]
            ]
        });

        //监听单元格编辑
        table.on('tool(test)', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的DOM对象
            if (layEvent === 'detail') { //查看
                //do somehing
                layer.open({
                    type: 2,
                    title: '表单',
                    shadeClose: true,
                    shade: 0.8,
                    /*  btn:['提交','关闭'],*/
                    area: ['60%', '90%'],//宽 高
                    content: 'views/lz/YxsLook.html',
                    success: function (layero, index) {
                        var iframe = window['layui-layer-iframe' + index];
                        iframe.child(data.billid);
                    }, end: function (index, layero) {
                        table.reload('demo_hash', {
                            url: 'getYlr'
                        });
                    }
                });
            } else if (layEvent === 'del') { //删除
                layer.confirm('真的删除行么', function (index) {
                    obj.del();
                    layer.close(index);
                    $.post('delYlr', {billid: data.billid}, function (res) {
                        console.log(res);
                        layer.msg(res.success ? '网络错误' : res.msg);
                    }, 'json');
                });
            }
        });

        function getTable(){
            var billid = $("#strid").val().trim().toUpperCase();
            var begindate = $("#begindateid").val().trim();
            var enddate = $("#enddateid").val().trim();
            var prodname = $("#prodnameid").val().trim();
            var prodno = $("#prodnoid").val().trim().toUpperCase();
            var purchaser = $("#purchaserid").val().trim();
            var statu = $("#statsid").val().trim();
            table.reload('demo_hash', {
                url: 'getYlr'
                , where: {
                    billid: billid,
                    begindate:begindate,
                    enddate:enddate,
                    prodname:prodname,
                    prodno:prodno,
                    purchaser:purchaser,
                    statu:statu
                }
            });
        }

        $("#serchid").click(function () {
            getTable();
        });

        document.onkeydown = function (e) {
            e = e ? e : event;// 兼容FF
            if (e.keyCode == 13) {
                 getTable();
                return false;//防止页面跳转刷新掉
            } else if (e.keyCode == 27) {
                layer.closeAll('iframe');
                return false;//防止页面跳转刷新掉
            }
        };

    });
    var date = new Date();
    $("#enddateid").val(date.getFullYear()+'-'+(date.getMonth()+1)+'-'+date.getDate());

</script>
