<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzt.dao.YxsDao">
    <resultMap id="BaseResultMap" type="com.jzt.entity.Yxssum">
        <id column="billid" jdbcType="VARCHAR" property="billid" />
        <result column="custno" jdbcType="VARCHAR" property="custno" />
        <result column="custname" jdbcType="VARCHAR" property="custname" />
        <result column="custadd" jdbcType="VARCHAR" property="custadd" />
        <result column="note" jdbcType="VARCHAR" property="note" />
    </resultMap>

    <resultMap id="BaseResultMapYxsdet" type="com.jzt.entity.Yxsdet">
        <id column="billid" jdbcType="VARCHAR" property="billid" />
        <result column="prodno" jdbcType="VARCHAR" property="prodno" />
        <result column="prodname" jdbcType="VARCHAR" property="prodname" />
        <result column="quantity" jdbcType="VARCHAR" property="quantity" />
        <result column="amount" jdbcType="VARCHAR" property="amount" />
        <result column="prodspecification" jdbcType="VARCHAR" property="prodspecification" />
        <result column="packageunit" jdbcType="VARCHAR" property="packageunit" />
        <result column="manufacture" jdbcType="VARCHAR" property="manufacture" />
        <result column="approvalno" jdbcType="VARCHAR" property="approvalno" />
        <result column="sterilization" jdbcType="VARCHAR" property="sterilization" />
        <result column="note" jdbcType="VARCHAR" property="note" />
    </resultMap>

    <insert id="inserYxssum" parameterType="Yxssum">
        insert INTO YXSsum(billid,custno,custname,custadd,note) values(#{billid},#{custno},#{custname},#{custadd},#{note})
    </insert>

    <insert id="inserYxsdet" parameterType="Yxsdet">
        insert INTO Yxsdet(billid,prodno,prodname,quantity,amount,prodspecification,packageunit,manufacture,approvalno,sterilization,note)
        values(#{billid},#{prodno},#{prodname},#{quantity},#{amount},#{prodspecification},#{packageunit},#{manufacture},#{approvalno},#{sterilization},#{note})
    </insert>

    <delete id="delYxsum" parameterType="Yxssum">
        delete YXSSUM  where billid = #{billid}
    </delete>

    <delete id="delYxdet" parameterType="Yxsdet">
        delete Yxsdet  where billid = #{billid}
    </delete>

    <select id="getYxsum" parameterType="Yxssum" resultMap="BaseResultMap">
        select * from YXSSUM
        <where>
            <if test="statu!=null">
                STATU = #{statu}
            </if>
        </where>
    </select>

    <select id="getOneYxssum" parameterType="Yxssum" resultMap="BaseResultMap">
        select * from YXSSUM where billid = #{billid}
    </select>

    <select id="getOneYxsdet" parameterType="Yxsdet" resultMap="BaseResultMapYxsdet">
        select * from YXSDET where billid = #{billid}
    </select>

    <update id="updYxs" parameterType="Yxsdet">
        update YXSDET set quantity = #{quantity},amount = #{amount} where billid = #{billid}
    </update>




</mapper>